   
.main_body {
    width: 1250px;
    height: 650px;
    margin-top: 20px;
    margin-left: 100px;
    background: #9DBEBB; 
    position: absolute;
    display: flex;   
}

.container {
    width:700px ;
    height: 400px; 
    top: 100px;
    margin-left: 320px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient( 90deg,
     #BE0909 0%,
     #BE0909 65%, 
     #FFB039 65%,
     #FFB039 100%
     );             
}
   
